
.contact-logo {
    font-size: 2em;
}


@media only screen and (max-width: 1000px) {
    .contact-logo {
        font-size: 1.5em;
    }

    .contact-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-img{
        width: 7vw;
    }
}
.footer-img{
    width: 10vw;
}