@import url("footer.css");
@import url("nav.css");
@import url("pages/home.css");
@import url("pages/aboutme.css");
@import url("pages/myhobbies.css");
@import url("pages/myprojects.css");
@import url("imageviewer.css");
@import url("pages/myexperience.css");
body {
    font-family: 'Titillium Web';
    font-size: 1.3em;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.rotate {
    animation: rotation 8s infinite linear;
}

h1,
h2 {
    color: #1d2122;
    font-weight: bold;
    line-height: 2em;
    margin: 0 0 1em;
    text-shadow: 0.08em 0.08em 0.08em #969696;
}

h3,
h4,
h5 {
    color: #000000;
    font-weight: lighter;
    line-height: 2em;
    margin: 0 0 1em;
}

@font-face {
    font-family: 'Brittany Signature';
    font-style: normal;
    font-weight: 400;
    src: local('Brittany Signature'), url('../fonts/BrittanySignature-LjyZ.woff') format('woff');
}
.text-note{
    font-style: italic;
    text-align: right;
}
a{
    
    color: rgb(147, 148, 152);
    text-shadow: 1px 1px 0 black
}
a:hover{
    
    color: black;
    text-shadow: 1px 1px 0 rgb(147, 148, 152);
}