@import url("footer.css");
@import url("nav.css");
@import url("imageviewer.css");

/* ------------- Scroll smoothing -------------- */
html {
    scroll-behavior: smooth;
}


/* ------------- General font for text -------------- */
/*  Body fill the screen, footer remains at the bottom  
    in case of the screen is stretched out  */
#body{
    font-family: 'Titillium Web';
    font-size: 1.3em;
    min-height: 66vh;


    padding-top: 2em;
    margin: auto;
    text-align: justify;

    /* Center things, make the page stay in the middle */
    width: 75%;
    max-width: 50em;
}


h1,
h2 {
    color: #1d2122;
    font-weight: bold;
    line-height: 2em;
    margin: 0 0 1em;
    text-shadow: 0.08em 0.08em 0.08em #969696;
}

h3,
h4,
h5 {
    color: #000000;
    font-weight: lighter;
    line-height: 2em;
    margin: 0 0 1em;
}

.text-note {
    font-style: italic;
    text-align: right;
}




/* ------------- Link style in general texts -------------- */


a,
.black-white-text {
    color: black !important;
    text-decoration: underline;
    text-shadow:
    -1px -1px 0 #ffffff,
     0   -1px 0 #ffffff,
     1px -1px 0 #ffffff,
     1px  0   0 #ffffff,
     1px  1px 0 #ffffff,
     0    1px 0 #ffffff,
    -1px  1px 0 #ffffff,
    -1px  0   0 #ffffff;
}
.black-white-text{
    letter-spacing: 0.08em;
}
a:hover,.black-white-text-hover:hover{
    color: white !important;
    text-shadow: -1px 0 0 black,
        1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black
}




/* ------------- Font loading -------------- */
 
@font-face {
    font-family: 'Brittany Signature';
    font-style: normal;
    font-weight: 400;
    src: local('Brittany Signature'), url('../fonts/BrittanySignature-LjyZ.woff') format('woff');
}

@font-face {
    font-family: 'Shell Roundhand';
    font-style: normal;
    font-weight: 400;
    src: local('Shell Roundhand'), url('../fonts/Snell\ Roundhand\ LT\ W01\ Script.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), url('../fonts/titillium-web-v15-latin-regular.woff') format('woff');
}


/* ------------- Scrollbar  -------------- */

::-webkit-scrollbar-track
{
	border: 0.2em solid black;
	background-color: rgb(33, 37, 41);
}

::-webkit-scrollbar
{
	width: 0.6em;
	background-color: rgb(33, 37, 41);
}

::-webkit-scrollbar-thumb
{
	background-color: white;
	border-radius: 5px;
    border: 0.1em solid black
}
