.custom-toggler.navbar-toggler {
    border-width: 0.1em;
    border-color: rgb(126, 126, 126);
}



#header {
    position: relative;
    margin: 0;
}

#cool-gear {
    position: absolute;
    overflow: visible;
    top: 0;
    right: 0%;
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px rgb(34, 34, 34));

}

@media only screen and (max-width: 1500px) {
    #cool-gear {
        width: 30vw;
    }

}
@media only screen and (max-width: 1500px) {
    #cool-gear {
        width: 30vw;
    }

}
.nav-item:hover{
    background-color: rgb(60, 68, 76);
    border-radius: 0.1em;
}
.nav-item:active{
    background-color: rgb(60, 68, 76);
}
.nav-item h2,nav a h2{
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin:0 0 0 0;
}