.navbar-toggler {
    border-width: 0.1em;
    border-color: white;
}

#header {
    position: relative;
    margin: 0;
}
#portfolio-title{
    width:8em;
    margin-right: 2em;
    text-align: center;
    font-family: 'Shell Roundhand', serif;
    padding-top: 0.5em;
}

.nav-item:hover {
    background-color: rgb(41, 50, 59);
    border-radius: 0.1em;
    cursor: pointer;
}

#portfolio-title:hover{
    text-decoration: dotted;
    font-weight: bold;
    cursor: pointer;
}

.nav-item:active {
    background-color: rgb(69, 78, 85);
}

.nav-item h2,
nav a h2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0 0 0 0;
}
@media screen and (max-width: 1500px) {
    h2{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1100px) {
    h2{
        font-size: 1.3em;
    }
}