.portrait {
    width: 50vw;
}

.portrait:nth-child(1) {
    border: 0.5em solid black;
    box-shadow:
        0 0 0 0.2em hsla(0, 0%, 0%, 0.5),
        0 0 0 0.5em hsla(0, 0%, 0%, 0.5),
        0 0 0 0.7em hsla(0, 0%, 0%, 0.2);
}

.portrait:nth-child(2) {
    margin-top: 0.7em;
}

body {
    font-family: 'Titillium Web';
    font-size: 1.3em;

}

.center-text {
    text-align: justify;
    text-justify: inter-word;
}

.contact-logo {
    font-size: 2em;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#projects-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 1em;
    margin: 1em;
}
.card{
    width: 80%;
}
@media only screen and (max-width: 1500px) {
    #projects-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 1000px) {
    .portrait {
        width: 70vw;
    }

    body {
        font-size: 1.1em;

    }

    .contact-logo {
        font-size: 1.5em;
    }

    .contact-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #projects-container{
        grid-template-columns: 1fr;
    }
}
