html {
    font-family: Titillium Web;
}

.portrait {
    width: 50vw;
}

.center-text {
    font-size: 1.3em;
    text-align: justify;
    text-justify: inter-word;
}

@media only screen and (max-width: 800px) {
    .portrait {
        width: 70vw;
    }

    .center-text {
        font-size: 1em;
    }
}

/* titillium-web-regular - latin */
@font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 400;
    src: url("titillium-web-v15-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local(""),
        url("/fonts/titillium-web-v15-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("/fonts/titillium-web-v15-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("/fonts/titillium-web-v15-latin-regular.woff") format("woff"),
        /* Modern Browsers */
        url("/fonts/titillium-web-v15-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("/fonts/titillium-web-v15-latin-regular.svg#TitilliumWeb") format("svg");
    /* Legacy iOS */
}