<div class="bg-dark text-center text-white">
<div class="container p-4 pb-0">
    <h5 style="margin-bottom: 1em;"><i  class="fa fa-arrow-down"></i> Contact me <i class="fa fa-arrow-down"></i></h5> 
    <section class="mb-4 contact-container">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i  class="fab fa-facebook-f contact-logo"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i  class="fab fa-twitter contact-logo"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i  class="fab fa-google contact-logo"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i  class="fab fa-instagram contact-logo"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i  class="fab fa-linkedin-in contact-logo"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i  class="fab fa-github contact-logo"></i></a>
    </section>
</div>
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <img style="height: 5em;" src="media/brands/bootstrap.png" alt="bootstrap brand logo">
    <img style="height: 5em;" src="media/brands/html5.png" alt="html5 brand logo">
    <img style="height: 5em;" src="media/brands/javascript.png" alt="javascript brand logo">
</div>
</div>