<div class="bg-dark text-center text-white" id="footer">
    <div class="container p-4 pb-0">

        <section class="mb-4 contact-container">
            <a class="btn btn-outline-light btn-floating m-1" id="phone-button" href="tel:+34651953462" role="button">
                <i class="fa fa-phone contact-logo"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/valentindmtr115" role="button">
                <i class="fab fa-twitter contact-logo"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="mailto:valentindmtr115@email.com"
               data-rel="external" role="button">
                <i class="fa fa-envelope contact-logo"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/valentin1.5/"
               role="button">
                <i class="fab fa-instagram contact-logo"></i></a>

            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.linkedin.com/in/valentin-dumitru-a4703a211/" role="button">
                <i class="fab fa-linkedin-in contact-logo"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/valydumitru01" role="button">
                <i class="fab fa-github contact-logo"></i></a>
        </section>
    </div>
    <div id="copyright-footer-text">
        Valentin Dumitru's Portfolio &copy; 2021
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <img class="footer-img" src="media/brands/bootstrap.png" alt="bootstrap brand logo">
        <img class="footer-img" src="media/brands/html5.png" alt="html5 brand logo">
        <img class="footer-img" src="media/brands/javascript.png" alt="javascript brand logo">
        <img class="footer-img" style="-webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(1px 1px 11px rgb(255, 255, 255));" src="media/brands/jquery.png" alt="javascript brand logo">
        <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
                 src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                 alt="Valid CSS!"/>
        </a>
    </div>
</div>
<script>
    $("#phone-button")
        .mouseover(() => {
            $(".fa-phone").html("+34 651953462")
        })
        .mouseout(() => {
            $(".fa-phone").html("")
        })
</script>