<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Portfolio title -->
    <h2 class="text-white fw-bold" id="portfolio-title" onclick="portfolio.goTo('home')">Valentin Dumitru's Portfolio</h2>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" >
            <!-- Items are generated dynamically -->
        </ul>
    </div>
</nav>

<h1 class="bg-dark text-white" id="title-container">
    <i class="fa fa-arrow-alt-circle-left" id="go-back-arrow" onclick="portfolio.goTo('home')" role="button">
    </i>
    <span id="go-back-text"></span>
    <span id="main-title">
        <!-- Title is generated dynamically -->
    </span>
</h1>