/**----------------- Portrait Frame -------------------**/
.frame-container {
    text-align: center;
    width: 99%;
    margin: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;


}

#framed-picture {
    padding-top: 4em;
    margin-top: 4em;
}

.paper {
    box-shadow: 0 0 0.5em 0 rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background-size: cover;
    background-clip: content-box;
    box-sizing: border-box;
    position: relative;
    margin: auto;


}

.paper:after {
    content: "";
    display: block;
    position: absolute;
    border: 50px solid transparent;
    border-bottom: 50px solid rgb(33, 37, 41);
    bottom: -60px;
    right: -65px;
    box-shadow: 0px 10px 5px -9px black;
    transform: rotate(135deg);
}

.paper:before {
    content: "";
    display: block;
    position: absolute;
    border: 50px solid transparent;
    border-top: 50px solid rgb(33, 37, 41);
    top: -60px;
    left: -65px;
    box-shadow: 0px -10px 5px -9px black;
    transform: rotate(135deg);
}

.portrait {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portrait {
    background: #fff;
    border-radius: 2px;
}

#ropes > * {
    width: 13em;
    height: 0.6em;
    background-color: #222;
}

#rope_right {
    transform: translateX(30em) translateY(-1em) rotate(30deg)
}

#rope_left {
    transform: translateX(15em) translateY(-2em) rotate(-30deg)
}

.frame {
    background-image: url("../res/imgs/portrait_background.png");
    background-color: rgb(33, 37, 41);

    /* Border Settings */
    border-radius: 2px;
    border: 5vmin solid #eee;
    border-left-color: #ddd;
    border-right-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;

    /* Size and Position */
    display: inline-block;
    padding: 5vmin;
    position: relative;
    text-align: center;

    width: 30em;

    height: 37.5em;
}


.frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}

.frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
}

.falling-animation {
    animation: drop 3s ease forwards, 1s;
    animation-iteration-count: initial;
}

@keyframes drop {
    0% {
        transform: translateY(-50%) rotate(0.1rad) rotate3d(1, 0, 0, 90deg);
        transform-origin: top center;
    }


    40% {
        transform: translateY(2%) rotate(0.1rad);
        transform-origin: top center;
    }

    75% {
        transform: rotate(0.1rad);
        transform-origin: top center;
    }

    80% {
        transform: rotate(-0.03rad);
        transform-origin: top center;
    }

    95% {
        transform: rotate(-0.03rad);
        transform-origin: top center;
    }

    100% {
        transform: rotate(0);
        transform-origin: top center;
    }
}


#signature {
    font-family: 'Brittany Signature', serif;
    font-style: italic;
    position: relative;
    top: -15%;
    transform: rotate(-0.5rad);
    right: -20%;
    color: black;
    font-size: 1.3em;
}

@media (max-width: 768px) {
    .frame {
        width: 20em;

        height: 25em;
    }

    #signature {
        font-size: 1em;
    }
}
