.timeline {
    position: relative;
    width: 80%; /* Adjust based on your layout needs */
    margin: 20px auto;
    padding-left: 20px; /* Space for the line */
    border-left: 2px solid #333; /* The vertical line */
    left: 10%;
}


.timeline-event {
    margin-bottom: 40px; /* Space between events */
    flex-wrap: wrap;
    padding: 1em;
    background: #f9f9f9; /* Light grey background */
    border-radius: 1em;
    box-shadow: 5px 5px 1rem #ccc; /* Soft shadow */
    border: 1px solid black; /* Border */
    animation: move-top-down 0.5s ease-in-out;
}

.timeline .timeline-point::before {
    content: "";
    position: relative;
    display: block;
    width: 1.2em;
    height: 1.2em;
    right: 1.7em;
    top: 2.2em;

    border-radius: 50%;
    border: 3px solid #333;
    background: white;
}

.timeline-event .title{
    margin: 0;
}

.timeline-event .dates {
    width: 100%;
    text-align: left;
}
.timeline .duration{
    text-align: right;
    width: 10em;
    display: block;
    position: relative;
    color: white;
    left: -13em;
    top: 3.5em;
}

.timeline-event .year{
    display: block;
    width: 100%;
    flex-grow: initial;
}





@keyframes  move-top-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}
