<article id="aboutme">
    <div
        style="text-align: center;  width: 99%;  margin:1%; display: flex; align-items: center;flex-direction: column; ">
        <img style="margin-top: 1em;" class="portrait" src="media/aboutme/myportrait.png" alt="Photo of myself" />
        <p class="fst-italic text-end portrait">Valentin Dumitru's Portrait ;)</p>
    </div>
    <div style="margin-right: 15vw;margin-left: 15vw; text-align: justify;">
        <section>
            <h2>
                Introduction
            </h2>
            <p>
                Hi! I'm Valentin Dumitru, a student who is one year from becoming a software engineer. I will solve
                almost
                all your problems, except the
                ones I will not solve, which are most of them. I only solve software problems. And I solve them better
                if I
                enjoy solving them, and the ones that I enjoy the most are visual problems such as front end or graphics
                related.<span style="font-style: italic; font-weight: bold;"> I work hard and I enjoy working in hard
                    working teams.</span>
            </p>

            <h3>
                Strengths and Weaknesses ☯👍🏻👎🏻
            </h3>
            <div id="strengths-and-weaknesses-container">
                <table id="strength-and-weaknesses-table">
                    <div id="strength-and-weaknesses-table-img">
                        <thead>
                            <tr>
                                <th id="strength-header-tile" class="tile">Strengths</th>
                                <th id="weakness-header-tile" class="tile">Weaknesses</th>
                            </tr>
                        </thead>
                        <tbody
                            style="border-left: 0.5em solid rgb(33, 37, 41);border-bottom: 0.5em solid rgb(33, 37, 41);">
                            <tr>
                                <td class="strength-tile tile">Calm/Nevers of Steel</td>
                                <th class="weakness-tile tile">Not emotional when I should be</th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Hard Working</td>
                                <th class="weakness-tile tile">Insistent when I want something from someone</th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Meticulous</td>
                                <th class="weakness-tile tile">Too self confident</th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Creative</td>
                                <th class="weakness-tile tile">I sometimes polarize people's opinions about me</th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Organized</td>
                                <th class="weakness-tile tile">I get irritated when thinks don't go according to plan
                                </th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Honest</td>
                                <th class="weakness-tile tile">Not enough filters when giving my opinion</th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Good leader</td>
                                <th class="weakness-tile tile"> I become a little bossy if the team doesn't reach to my
                                    expectations</th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Knows when not to be perfectionist </td>
                                <th class="weakness-tile tile"></th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Good talking to crowds</td>
                                <th class="weakness-tile tile"></th>
                            </tr>

                            <tr>
                                <td class="strength-tile tile">Ambivert</td>
                                <th class="weakness-tile tile"></th>
                            </tr>
                            <tr>
                                <td class="strength-tile tile">Patient</td>
                                <th class="weakness-tile tile"></th>
                            </tr>

                        </tbody>
                    </div>
                </table>
                <img src="media/aboutme/yin-yang.png" class="rotate" id="yin-yang">
            </div>


            <p>
                My approach on describing myself will be selecting a characteristic I feel is important and then
                expand on it. And also I will show all the proofs I can gather.
            </p>
        </section>



        <div class="accordion" id="myAccordion">
            <section class="accordion-item">


                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2>
                            Curious 📚📖📝
                        </h2>
                    </button>
                </h2>


                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    >
                    <div class="accordion-body">
                        <p>
                            I've been self educating in many areas like philosophy, economics, politics (or political
                            philosophy), physics and maths. Usually just amateur level, not entering into details (not
                            always at
                            least). I just learn
                            about the stuff I feel that its "cool". Or maybe just the first video appears on my feed
                            science or
                            philosophy related 🤷.
                        </p>
                    </div>
                </div>
            </section>



            <section class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <h2>
                            Healthy 🥬🥦
                        </h2>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    >
                    <div class="accordion-body">
                        <p>
                            Yeah, Im a gym bro! Ok maybe not that much, but I do love it. And I love to eat healthy,
                            specially
                            considering that I was obese at one point of my life. I had to go through a strict diet to
                            slim
                            down, I
                            slimmed down 20 kilos in a summer. Through the years I've also been growing in strength and
                            muscle
                            mass,
                            although I also built some of the fat back... But nothing to worry about. I'm still healthy.
                        </p>
                    </div>
                </div>
            </section>


            <section class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <h2>
                            Teamwork 🤝🤲
                        </h2>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    >
                    <div class="accordion-body">
                        <p>
                            I love the feeling of belonging to a big project. I love sharing ideas and constructive
                            criticism. I
                            always preferred doing things in a team or at least accompanied than alone. It's either
                            working,
                            playing, do sports or doing any activity. And I believe I behave pretty good in a team,
                            either as a
                            leader or plain member.
                        </p>
                    </div>
                </div>
            </section>


            <section class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <h2>
                            Hard Working 💪☕💻
                        </h2>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    >
                    <div class="accordion-body">
                        <p>
                            Since I began my university I became very hard working individual. My high school were awful
                            and I was very lazy. Now I'm able to work many many hours non stop. This is because now I'm
                            passionate about what I do. Which is exactly what I lacked.
                            <span style="font-style: italic; font-weight: bold;">Feels good to do what you love, and
                                feels even better to do it right.</span>
                        </p>
                    </div>
                </div>
            </section>


            <section class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <h2>
                            Sense of Humour <img src="media/aboutme/funny-emoji.png" style="height: 3em;">
                        </h2>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    >
                    <div class="accordion-body">
                        <p>
                            Sense of humour is definitely one of my strengths. I've definitely made many people laugh
                            during my lifetime. I enjoy stand up comedy and comedy films. I really like irony, memes,
                            dank, dark humour and anything similar and related.
                        </p>
                    </div>
                </div>
            </section>
            <section class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        <h2>
                            Competitive/Improvement Seeking/Perfectionist 😙🌟✨
                        </h2>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    >
                    <div class="accordion-body">
                        <p>
                            I've always been competitive and I hated to loose. When I want and like something, I try to
                            improve
                            and
                            work towards reaching it.
                        <h4>Videogames 🎮🕹️🤳</h4>
                        <p>
                            Videogames have always been my all time favorite hobby. And they almost always have been
                            technical,
                            competitive and hard games. Specially
                            classy RPG, MMORPGs, Sandbox, Roguelike and I also had a phase of MOBAs.
                            I've played Skyrim, Terraria, Smite, Titan Quest, Diablo III, Minecraft (modded mainly),
                            Divinity
                            Original
                            Sin (1 and 2) and many many others. And the higher the difficulty the better.
                        </p>
                        <h4>Sports</h4>
                        <p>
                            I also have done some sports throughout my life such as badminton, tennis, football,
                            kickboxing,
                            swimming and hiking. Some of them for a short period of time, but always have given my best.
                        </p>
                        </p>
                    </div>
                </div>
            </section>


            <section class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        <h2>
                            Creative/Artistic 💭🍄💡
                        </h2>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    >
                    <div class="accordion-body">
                        <p>
                            I've always been creative. Since when I was little I was drawing and imagining stuff, and they
                            always
                            said
                            that I had too much imagination. They were wrong. No amount of imagination is too much.
                        </p>
                        <h4>
                            My Drawings and Paintings 🎨🖌️🖼️
                        </h4>
                        <p>
                            I have a great appreciation for my drawings and paintings. It reminds me how perseverance and hard
                            work
                            makes you be the best version of yourself.
                            <br>
                            These are my favorite ones, some are older and worse than the others. I know they are not perfect
                            but
                            they
                            are good to me.
                        </p>
                        <div class="images row" style="overflow: scroll; height: 50vh;">
                            <div class="column">
                                <img src="media/aboutme/drawings/bird.jpg">
                                <img src="media/aboutme/drawings/demon.jpg">
                                <img src="media/aboutme/drawings/dragon_painting.jpg">
                                <img src="media/aboutme/drawings/sword.jpg">
                            </div>
                            <div class="column">
                                <img src="media/aboutme/drawings/dragonforce.jpg">
                                <img src="media/aboutme/drawings/embers.jpg">
                                <img src="media/aboutme/drawings/eye.jpg">
                                <img src="media/aboutme/drawings/tiger_painting.jpg">
                            </div>
                            <div class="column">
                                <img src="media/aboutme/drawings/minimalist_painting.jpg">
                                <img src="media/aboutme/drawings/mom.jpg">
                                <img src="media/aboutme/drawings/oldman.jpg">
                                <img src="media/aboutme/drawings/treant.jpg">
                            </div>
                            <div class="column">
                                <img src="media/aboutme/drawings/poppies_painting.jpg">
                                <img src="media/aboutme/drawings/skull.jpg">
                                <img src="media/aboutme/drawings/statue.jpg">
                                <img src="media/aboutme/drawings/womanbrain.jpg">
                            </div>
                        </div>
        
                        <div id="image-viewer">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="full-image">
                        </div>
                        <p class="fst-italic text-end portrait w-100">
                            Note: I was 14-18 when I've done these, I stopped drawing and
                            painting due to pursuing other goals.
                        </p>
                        <div style="margin-top: 3em; ">
                            <h4>
                                My 3D models 🧱🪑🖥️
                            </h4>
                            <p>
                                I'd put here the 3D modeling I've done too but I feel like they are more important so I created
                                it's
                                own
                                card as a project.
                            </p>
                            <div class="card project-card" style=" height: fit-content; width: 100%; align-self: center;">
                                <img src="media/project_cards/blender.png" style="height: 10em;object-fit: contain;"
                                    class="card-img-top" alt="Blender Image">
                                <div class="card-body">
                                    <h5 class="card-title fs-3">Blender Projects</h5>
                                    <p class="card-text">
                                        3D renders made with blender for artistic purposes. Developed during my free, and
                                        it started before I began going to university.
                                    </p>
                                    <a href="#" class="btn btn-primary fs-5">More Details</a>
                                </div>
                            </div>
                            <p class="fst-italic text-end portrait w-100">
                                Note: I was 17-20 when I've done these, I too stopped 3D modeling
                                due to pursuing other goals (programming).
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</article>
<script>
    $(".images img").click(function () {
        $("#full-image").attr("src", $(this).attr("src"));
        $('#image-viewer').show();
    });

    $("#image-viewer .close").click(function () {
        $('#image-viewer').hide();
    });
</script>