<article id="aboutme">
    <div class="frame-container">
        <figure class="frame falling-animation">
            <div class="paper">
                <img class="portrait" src="media/aboutme/me_transparent.png" alt="Photo of myself"/>
                <p class="text-end " id="signature">Valentin Dumitru</p>
            </div>
        </figure>

    </div>
    <div>
        <section>
            <h1>
                Introduction
            </h1>
            <p>
                Hi! I'm Valentin Dumitru, a hardworking, self-reliant and passionate software engineer. My focus right
                now is graphic programming, c++ and game engines.
            </p>
            <p>This section <span class="text-note">About me</span> will be about off-topic (not software related)
                information about me. My lifestyle, skills, passions and mindset.</p>

            <h2>
                Strengths and Weaknesses <i class="fa-solid fa-thumbs-up"></i> <i class="fa-solid fa-thumbs-down"></i>
                <i class="fa-solid fa-yin-yang"></i>
            </h2>
            <div id="strengths-and-weaknesses-container">
                <table class="content-table">
                    <thead>
                    <tr>
                        <th id="strength-header-tile" class="tile">Strengths</th>
                        <th id="weakness-header-tile" class="tile">Weaknesses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="strength-tile tile">Calm/Nerves of Steel</td>
                        <td class="weakness-tile tile">Not emotional when I should be</td>
                    </tr>
                    <tr>
                        <td class="strength-tile tile">Hard Working</td>
                        <td class="weakness-tile tile">I'm not hardworking when I'm not interested</td>
                    </tr>
                    <tr>
                        <td class="strength-tile tile">Self confident</td>
                        <td class="weakness-tile tile">Too self-confident, sometimes</td>
                    </tr>
                    <tr>
                        <td class="strength-tile tile">Organized</td>
                        <td class="weakness-tile tile">I get irritated when thinks don't go according to plan
                        </td>
                    </tr>
                    <tr>
                        <td class="strength-tile tile">Good leader</td>
                        <td class="weakness-tile tile">I become a little bossy if the team doesn't reach my
                            expectations
                        </td>
                    </tr>
                    <tr>
                        <td class="strength-tile tile">Knows when not to be perfectionist</td>
                        <td class="weakness-tile tile"></td>
                    </tr>
                    <tr>
                        <td class="strength-tile tile">Good talking to crowds</td>
                        <td class="weakness-tile tile"></td>
                    </tr>

                    <tr>
                        <td class="strength-tile tile">Ambivert</td>
                        <td class="weakness-tile tile"></td>
                    </tr>
                    <tr>
                        <td class="strength-tile tile">Patient</td>
                        <td class="weakness-tile tile"></td>
                    </tr>
                    <tr>
                        <td class="strength-tile tile">Creative</td>
                        <td class="weakness-tile tile"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </section>

        <h2>
            Qualities
            <i class="fa-solid fa-award"></i>
            <i class="fa-solid fa-trophy"></i>
        </h2>
        <!-- tabs -->
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">
            Artsy
            <i class="fa-solid fa-paintbrush"></i>
            <i class="fa-solid fa-palette"></i>
        </label>
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">
            Brainy
            <i class="fa-solid fa-book"></i>
            <i class="fa-solid fa-swatchbook"></i>
            <i class="fa-solid fa-book-open-reader"></i>
        </label>
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">
            Witty
            <i class="fa-solid fa-thunderstorm"></i>
            <i class="fa-solid fa-bolt"></i>
        </label>
        <input id="tab4" type="radio" name="tabs">
        <label for="tab4">
            Healthy
            <i class="fa fa-carrot"></i>
            <i class="fa-solid fa-apple-whole"></i>
        </label>
        <!-- tabs content -->
        <section id="content1" class="tabbed-text">
            <!-- artsy -->
            <p>
                I've always been creative. Since when I was little I was drawing and imagining stuff, and they always
                said that I had too much imagination. They were wrong. No amount of imagination is too much imagination.
            </p>
            <h4>
                My Drawings and Paintings <i class="fa-solid fa-paintbrush"></i> <i class="fa-solid fa-palette"></i>
            </h4>
            <p>
                I have a great appreciation for my drawings and paintings. It reminds me how perseverance and hard work
                makes you be the best version of yourself.
                <br>
                These are my favorite ones, some are older and worse than the others. I know they are not perfect, but
                they are good to me.
            </p>
            <div class="images row">
                <div class="column">
                    <img src="media/aboutme/drawings/bird.jpg" alt="bird drawing">
                    <img src="media/aboutme/drawings/demon.jpg" alt="demon drawing">
                    <img src="media/aboutme/drawings/dragon_painting.jpg" alt="dragon painting">
                    <img src="media/aboutme/drawings/sword.jpg" alt="sword drawing">
                </div>
                <div class="column">
                    <img src="media/aboutme/drawings/dragonforce.jpg" alt="dragonforce drawing">
                    <img src="media/aboutme/drawings/embers.jpg" alt="embers logo drawing">
                    <img src="media/aboutme/drawings/eye.jpg" alt="eye drawing">
                    <img src="media/aboutme/drawings/tiger_painting.jpg" alt="bird drawing">
                </div>
                <div class="column">
                    <img src="media/aboutme/drawings/minimalist_painting.jpg" alt="minimalist painting">
                    <img src="media/aboutme/drawings/mom.jpg" alt="portrait of my mom ">
                    <img src="media/aboutme/drawings/oldman.jpg" alt="old man drawing">
                    <img src="media/aboutme/drawings/treant.jpg" alt="treant drawing">
                </div>
                <div class="column">
                    <img src="media/aboutme/drawings/poppies_painting.jpg" alt="poppies painting">
                    <img src="media/aboutme/drawings/skull.jpg" alt="skull drawing">
                    <img src="media/aboutme/drawings/statue.jpg" alt="statue drawing">
                    <img src="media/aboutme/drawings/womanbrain.jpg" alt="drawing of woman with brain outside">
                </div>

            </div>

            <div id="image-viewer">
                <span class="close">&times;</span>
                <img class="modal-content" id="full-image" alt="full image" src="">
            </div>
            <p class="text-note">
                Note: I was 14-18 when I've done these, I stopped drawing and painting due to pursuing other goals.
            </p>
            <div style="margin-top: 3em; ">
                <h4>
                    My 3D models <i class="fa-solid fa-cube"></i> <i class="fa-solid fa-cubes"></i>
                </h4>
                <p>
                    3D modelling is like drawing but enhanced. Its a very modern and special kind of art. I love it.
                </p>
                <div class="images row">
                    <div class="column">
                        <img src="media/aboutme/blender/goblin2.png" alt="goblin 3D model">
                        <img src="media/aboutme/blender/room.png" alt="room 3D model">
                        <img src="media/aboutme/blender/front.gif" alt="front drawing">
                    </div>
                    <div class="column">
                        <img src="media/aboutme/blender/marble_table_edited.png" alt="marble table 3D model">
                        <img src="media/aboutme/blender/sun_axe.png" alt="sun axe 3D model">
                        <img src="media/aboutme/blender/back.gif" alt="back drawing">
                    </div>
                    <div class="column">
                        <img src="media/aboutme/blender/minecraft_cube.png" alt="minecraft cube 3D model">
                    </div>

                </div>
                <p class="text-note">
                    Note: I was 17-20 when I've done these, I too stopped 3D modeling due to pursuing other goals
                    (programming).
                </p>
            </div>
        </section>


        <section class="tabbed-text" id="content2">
            <!-- Brainy -->
            <p>
                I've been self educating in many areas like philosophy, economics, politics (or political philosophy),
                physics and maths. Usually just amateur level, not entering into details (not always at least). I just
                learn about the stuff I feel that is "cool". Or maybe just the first science or philosophy video that
                appears on my feed
            </p>
            <p>
                Not to mention of course my passion for software. I spend a lot of time watching videos and reading
                information in articles and books.
            </p>
            <p>
                I also enjoy reading software questions and answers in quora or stack overflow. I even answered some
                questions myself in stack overflow.
            </p>
        </section>
        <section class="tabbed-text" id="content3">
            <!-- Witty -->
            <p>
                Sense of humour is definitely one of my strengths. I've definitely made many people laugh during my
                lifetime. I enjoy stand-up comedy and comedy films. I really like irony, memes, dank, dark humour and
                anything similar and related.
            </p>
            <p>
                I love the feeling of belonging to a big project. I love sharing ideas and constructive criticism. I've
                always preferred doing things in a team or at least accompanied than alone. It's either working,
                playing, doing sports or doing any activity. And I believe I behave pretty good in a team, either as a
                leader or plain member.
            </p>
            <p>
                I've always been competitive and I hated to loose. When I want and like something, I try to improve and
                work towards reaching it.
            <h4>
                Videogames
                <i class="fa-solid fa-gamepad"></i>
                <i class="fa-solid fa-hat-wizard"></i>
                <i class="fa-solid fa-computer"></i>
            </h4>
            <p>
                Videogames have always been my all time favorite hobby. And they almost always have been
                technical, competitive and hard games. Specially classy RPG, MMORPGs, Sandbox, Roguelike
                and I also had a phase of MOBAs. I've played Skyrim, Terraria, Smite, Titan Quest, Diablo
                III,
                Minecraft (modded mainly), Divinity Original Sin (1 and 2) and many many others. And the
                higher the difficulty the better.
            </p>
            <h4>Sports <i class="fa-solid fa-futbol"></i> <i class="fa-solid fa-person-running"></i></h4>
            <p>
                I also have done some sports throughout my life such as badminton, tennis, football,
                kickboxing, swimming and hiking. Some of them for a short period of time, but
                I have always given my best.
            </p>
            </p>
        </section>
        <section class="tabbed-text" id="content4">
            <!-- Healthy -->
            <p>
                Yeah, Im a gym bro! Ok maybe not that much, but I do love it. And I love to eat healthy,
                specially considering that I was obese at one point of my life. I had to go through a strict
                diet to
                slim down, I slimmed down 20 kilos in a summer. Through the years I've also been growing in
                strength and
                muscle mass. <span style="font-style: italic; font-weight: bold;"> A healthy mind only lives
                    in a healthy body.</span>
            </p>
        </section>

    </div>
</article>
<script>
    $(".images img").click(function () {
        $("#full-image").attr("src", $(this).attr("src"));
        $('#image-viewer').show();
    });

    $("#image-viewer .close").click(function () {
        $('#image-viewer').hide();
    });
</script>