<article id="home-page">
    <section id="home-content" >
        <div class="deconstructed">
            WELCOME
            <div>WELCOME</div>
            <div>WELCOME</div>
            <div>WELCOME</div>
            <div>WELCOME</div>
        </div>
        <div class="fade-in-text" id="to-my">To My</div>
        <div class="stripped-effect-text">
            <div class="text-drop">
                <div id="P">P</div>
                <div id="O">O</div>
                <div id="R">R</div>
                <div id="T">T</div>
                <div id="F">F</div>
                <div id="O1">O</div>
                <div id="L">L</div>
                <div id="I">I</div>
                <div id="O2">O</div>
            </div>
        </div>
        <div class="fade-in-text" id="by-valentin">
            By Valentin Dumitru
        </div>
    </section>
    <button class="contact-me-button" data-role="listview">
        <span class="text-contact-me">CONTACT ME!<br class="text-contact-me"></span>
        <span class="alt-text-contact-me">
            <a href="mailto:valentindmtr115@gmail.com" data-rel="external">valentindmtr115</a>
            <i class="fa fa-envelope" id="icon-contact-me"></i>
        </span></button>

</article>