
<article id="home-page">
    <section id="home-content" style="margin-left: 5vh; margin-right: 5vh; padding-top: 10em;padding-bottom: 10em;">
        <p class="typing-effect"></p>
        <h2>
            This my portfolio
        </h2>
        <p class="home-text">
            Hello, I'm Valentin Dumitru and this is my portfolio. I will try to summarize here 
            all my work and the things I consider important about me.  <i class="fa-solid fa-face-smile"></i>
        </p>
        <div class="contact-me-button">Contact Me Here!</div>
    </section>
</article>