<article>
    <section>
        <div
            style="text-align: center;  width: 99%;  margin:1%; display: flex; align-items: center;flex-direction: column;">
            <img style="margin-top: 1em;" class="portrait" src="media/to_be_replaced_with_nice_foto_of_myself.jpg" alt="foto of myself" />
            <p class="fst-italic text-end portrait">Valentin Dumitru's Portrait ;)</p>
        </div>
    </section>
    <section style="margin-left: 5vh; margin-right: 5vh;">
        <h2>
            This my portfolio
        </h2>
        <p class="center-text">
            Here I will write stuff about me, specially my work, my projects and important information that could
            result useful for any job application.
        </p>
    </section>
</article>