<article style="">

  <div class="card" style="width: 18rem;">
      <img src="media/terabox_title.png" class="card-img-top" alt="TeraBox videogame picture">
      <div class="card-body">
          <h5 class="card-title fs-3">TeraBox game</h5>
          <p class="card-text">Game made in the subject Software de Entretenimiento y Videojuegos (Software of
              Entrertainment and Videogames)</p>
          <a href="#" class="btn btn-primary fs-5">More Details</a>
      </div>
  </div>

  <div class="card" style="width: 18rem;">
      <img src="media/rockshop_logo.png" class="card-img-top" alt="TeraBox videogame picture">
      <div class="card-body">
          <h5 class="card-title fs-3">Rock Shop Web</h5>
          <p class="card-text">Website made with MERN stack. Developed with a team of 4 including me during the
              subject of Arquitectura de Sofware (Software Architecture)</p>
          <a href="#" class="btn btn-primary fs-5">More Details</a>
      </div>
  </div>
</article>