<section class="myeducation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">


                </div>
            </div>
        </div>
    </div>
    <i class="fas fa-book-open education-background-icon"></i>
    <i class="fas fa-graduation-cap education-background-icon"></i>
    <i class="fas fa-chalkboard-teacher education-background-icon"></i>
    <i class="fas fa-school education-background-icon"></i>
    <i class="fas fa-flask education-background-icon"></i>
    <i class="fas fa-pencil-alt education-background-icon"></i>


</section>