<section class="myexperiences">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
















                    <div class="timeline">
                        <span class="icon"><i class="fa fa-globe"></i></span>
                        <div class="timeline-content">
                            <div class="content-inner">
                                <span class="year"><span class="start">2011</span><span class="dashed-line"></span><span class="end">2020</span></span>
                                <h3 class="title">Web Designer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                    lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum
                                    eros. Etiam venenatis ac.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="timeline">
                        <span class="icon"><i class="fa fa-rocket"></i></span>
                        <div class="timeline-content">
                            <div class="content-inner">
                                <span class="year"><span class="start">2011</span><span class="dashed-line"></span><span class="end">2020</span></span>
                                <h3 class="title">Web Developer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                    lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum
                                    eros. Etiam venenatis ac.
                                </p>
                            </div>
                        </div>
                    </div>
                    




                    <div class="timeline">
                        <span class="icon"><i class="fa fa-globe"></i></span>
                        <div class="timeline-content">
                            <div class="content-inner">
                                <span class="year"><span class="start">2011</span><span class="dashed-line"></span><span class="end">2020</span></span>
                                <h3 class="title">Web Designer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                    lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum
                                    eros. Etiam venenatis ac.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="timeline">
                        <span class="icon"><i class="fa fa-rocket"></i></span>
                        <div class="timeline-content">
                            <div class="content-inner">
                                <span class="year"><span class="start">2011</span><span class="dashed-line"></span><span class="end">2020</span></span>
                                <h3 class="title">Web Developer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                    lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum
                                    eros. Etiam venenatis ac.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="timeline">
                        <span class="icon"><i class="fa fa-globe"></i></span>
                        <div class="timeline-content">
                            <div class="content-inner">
                                <span class="year"><span class="start">2011</span><span class="dashed-line"></span><span class="end">2020</span></span>
                                <h3 class="title">Web Designer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                    lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum
                                    eros. Etiam venenatis ac.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="timeline">
                        <span class="icon"><i class="fa fa-rocket"></i></span>
                        <div class="timeline-content">
                            <div class="content-inner">
                                <span class="year"><span class="start">2011</span><span class="dashed-line"></span><span class="end">2020</span></span>
                                <h3 class="title">Web Developer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                    lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum
                                    eros. Etiam venenatis ac.
                                </p>
                            </div>
                        </div>
                    </div>
                    






                </div>
            </div>
        </div>
    </div>
</section >