<p style="margin-left: 4em; margin-right: 4em;margin-top:2em ; text-align: justify;">
    The following projects are the ones im most proud of. And also the ones im able to show easily.
</p>
<article id="projects-container" style="margin-top: 5em;">

    <div class="card project-card">
        <img src="media/project_cards/terabox_title.png" class="card-img-top" alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">TeraBox game</h5>
            <p class="card-text">Game made in the subject Software de Entretenimiento y Videojuegos (Software of
                Entertainment and Videogames)</p>
            <a href="#" class="btn btn-dark fs-4">More Details</a>
            <a href="download/TeraBox.zip" class="btn btn-dark fs-4" download>Download Here!</a>
        </div>
    </div>

    <div class="card project-card">
        <img src="media/project_cards/rockshop_logo.png" style="height: em;" class="card-img-top" alt="Rock shop logo">
        <div class="card-body">
            <h5 class="card-title fs-3">Rock Shop Web</h5>
            <p class="card-text project-card-text">Website E-Commerce made with MERN stack. Developed with a team of 4
                including me during the
                subject of Arquitectura de Software (Software Architecture).
                <a href="#" class="btn btn-dark fs-4">More Details</a>
                <a href="https://dede-es1a-webapp.herokuapp.com/home" class="btn btn-dark fs-4">Link Here!</a>
            </p>
        </div>
    </div>
    <div class="card project-card">
        <img src="media/project_cards/labyrinth_game.png" style="height: em;" class="card-img-top"
            alt="Labyrinth game image">
        <div class="card-body">
            <h5 class="card-title fs-3">Labyrinth Game</h5>
            <p class="card-text">Mini game made on Canvas element with javascript. Developed during the
                subject of Software y Estándares para la Web (Web Software and Standards).
            </p>
            <a href="#" class="btn btn-dark fs-4">More Details</a>
            <a href="https://valydumitru01.github.io/SEW/P-JS/Ej-14/Ejercicio14.html" class="btn btn-dark fs-4">Link
                Here!</a>
        </div>
    </div>
    <div class="card project-card">
        <img src="media/project_cards/weather_picker.png" style="height: em;" class="card-img-top"
            alt="Weather picker image">
        <div class="card-body">
            <h5 class="card-title fs-3">Weather Tool</h5>
            <p class="card-text">Weather tool which allows the user to click on a point in the map to see how is the
                exact weather in that position. Developed during the
                subject of Software y Estándares para la Web (Web Software and Standards) </p>
            <a href="#" class="btn btn-dark fs-4">More Details</a>
            <a href="https://valydumitru01.github.io/SEW/P-JS/Ej-11/Tarea-6/Ejercicio11_Tarea6.html" class="btn btn-dark fs-4"> Link Here! </a>
        </div>
    </div>
    <div class="card project-card">
        <img src="media/project_cards/maple_lenguage.jpg" style="height: em;" class="card-img-top"
            alt="Maple language image">
        <div class="card-body">
            <h5 class="card-title fs-3">Maple Lenguage</h5>
            <p class="card-text">Lexical analysis, syntactic analysis, memory management and code generation of MAPL
                code.
                Project developed during the subject Diseño de Lenguajes de Programación (Programming Languages Design)
            </p>
            <a href="#" class="btn btn-dark fs-4">More Details</a>
        </div>
    </div>
    <div class="card project-card">
        <img src="media/project_cards/my_portfolio.png" style="height: em;" class="card-img-top"
            alt="This portfolio image">
        <div class="card-body">
            <h5 class="card-title fs-3">My Portfolio</h5>
            <p class="card-text">Website made with HTML, Javascript, Bootstrap and JQuery. Developed by myself during a
                summer to show my work. </p>
            <a href="#" class="btn btn-dark fs-4">More Details</a>
        </div>
    </div>
    <div class="card project-card">
        <img src="media/project_cards/opengl_triangle.gif" style="height: em;" class="card-img-top"
            alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">OpenGL Project</h5>
            <p class="card-text">C++ OpenGL project developed with the intend of creating a 2D Videogame Engine. It's
                heavily focused on documentation, investigation, good programming practices and future changes.
                Developed
                mostly by myself with the help of some friends during a summer. Work In Progress.</p>
            <a href="#" class="btn btn-dark fs-4">More Details</a>
        </div>
    </div>
    <div class="card project-card">
        <img src="media/aboutme/blender/room.png" style="height: em;" class="card-img-top"
            alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">Blender Projects</h5>
            <p class="card-text">3D renders made with blender for artistic purposes. Developed during my free time, and it
                started before I began going to university.</p>
            <a href="#" class="btn btn-dark fs-4">More Details</a>
        </div>
    </div>




    <div class="card project-card">
        <img src="media/project_cards/random_picture_for_more.jpg" style="height: em;" class="card-img-top"
            alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">And More...</h5>
            <p class="card-text">Many other small projects were done during my career. Some as hard as the other ones,
                but not as attractive and visual. Here I explain the most important not so important projects.</p>
            <a href="#" class="btn btn-dark fs-4">More Details</a>
        </div>
    </div>


</article>