<h1 style="font-size: 3em;margin-top: 1em;margin-bottom: 1em;position: relative; left: 1em;" class="bg-dark text-white">
    My Hobbies</h1>
<article id="projects-container">
    <div class="card">
        <img src="media/terabox_title.png" class="card-img-top" alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">TeraBox game</h5>
            <p class="card-text">Game made in the subject Software de Entretenimiento y Videojuegos (Software of
                Entrertainment and Videogames)</p>
            <a href="#" class="btn btn-primary fs-5">More Details</a>
        </div>
    </div>

    <div class="card">
        <img src="media/rockshop_logo.png" style="height: em;" class="card-img-top" alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">Rock Shop Web</h5>
            <p class="card-text">Website made with MERN stack. Developed with a team of 4 including me during the
                subject of Arquitectura de Sofware (Software Architecture)</p>
            <a href="#" class="btn btn-primary fs-5">More Details</a>
        </div>
    </div>
    <div class="card">
        <img src="media/labyrinth_game.png" style="height: em;" class="card-img-top" alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">Labyrinth Game</h5>
            <p class="card-text">Mini game made on Canvas element with javascript. Developed during the
                subject of Software y Estándares para la Web (Web Software and Standars)
                <a href="https://valydumitru01.github.io/SEW/P-JS/Ej-14/Ejercicio14.html"> link</a>
            </p>
            <a href="#" class="btn btn-primary fs-5">More Details</a>
        </div>
    </div>
    <div class="card">
        <img src="media/weather_picker.png" style="height: em;" class="card-img-top" alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">Weather Tool</h5>
            <p class="card-text">Weather tool which allows the user to click on a point in the map to see how is the
                exact weather in that position. Developed during the
                subject of Software y Estándares para la Web (Web Software and Standars) <a
                    href="https://valydumitru01.github.io/SEW/P-JS/Ej-11/Tarea-6/Ejercicio11_Tarea6.html"> link </a></p>
            <a href="#" class="btn btn-primary fs-5">More Details</a>
        </div>
    </div>
    <div class="card">
        <img src="media/maple_lenguage.jpg" style="height: em;" class="card-img-top" alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">Rock Shop Web</h5>
            <p class="card-text">Website made with MERN stack. Developed with a team of 4 including me during the
                subject of Arquitectura de Sofware (Software Architecture)</p>
            <a href="#" class="btn btn-primary fs-5">More Details</a>
        </div>
    </div>
    <div class="card">
        <img src="media/rockshop_logo.png" style="height: em;" class="card-img-top" alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">Rock Shop Web</h5>
            <p class="card-text">Website made with MERN stack. Developed with a team of 4 including me during the
                subject of Arquitectura de Sofware (Software Architecture)</p>
            <a href="#" class="btn btn-primary fs-5">More Details</a>
        </div>
    </div>
    <div class="card">
        <img src="media/rockshop_logo.png" style="height: em;" class="card-img-top" alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">Rock Shop Web</h5>
            <p class="card-text">Website made with MERN stack. Developed with a team of 4 including me during the
                subject of Arquitectura de Sofware (Software Architecture)</p>
            <a href="#" class="btn btn-primary fs-5">More Details</a>
        </div>
    </div>




    <div class="card">
        <img src="media/random_picture_for_more.jpg" style="height: em;" class="card-img-top"
            alt="TeraBox videogame picture">
        <div class="card-body">
            <h5 class="card-title fs-3">And More...</h5>
            <p class="card-text">Many other small projects were done during my career. Some as hard as the other ones,
                but not as attractive and visual as these others. Here I explain the most important ones.</p>
            <a href="#" class="btn btn-primary fs-5">More Details</a>
        </div>
    </div>


</article>