<div id="skill-graph">

</div>
<script>

  const config = {
    displayModeBar: false, // this is the line that hides the bar.
  };

  function drawGraph() {
    const N_LANGUAGES = 10;
    const IMG_NAMES = ['javascript', 'java', 'c++', 'csharp', "php", "sql", "c", "python", "typescript", "css"]
    const PATH = "media/brands/";
    const IMG_TYPE=".png";
    var values=[         100,    100,    50,   35,    30,    60,  20,       80,           40,    85]
    var labels=['javascript', 'java', 'c++', 'c#', "php", "SQL", "c", "python", "typescript", "css"]
    var colors=[]
    for (let i = 0; i < N_LANGUAGES; i++) {
      //The intention is that the max value results in 33,37,41 which is black
      var r=(33*(100/values[i]))
      var g=(37*(100/values[i]))
      var b=(41*(100/values[i]))
      colors.push("rgb("+r+","+g+","+b+")")
      
    }
    console.log(colors)
    var data = [
      {
        x: labels,
        y: values,
        type: 'bar',
        marker:{
          color: colors
        },
      }
    ];
    var images_layout=[]
    for (let i = 0; i < N_LANGUAGES; i++) {
      images_layout.push({
          x:i/N_LANGUAGES +0.05,
          y: values[i]/100,
          sizex: window.innerWidth / 7000,
          sizey: window.innerWidth / 7000,
          source: PATH + IMG_NAMES[i] + IMG_TYPE,
          xanchor: "center",
          xref: "paper",
          yanchor: "bottom",
          yref: "paper"
      })
    }
    const layout = {
      title: 'How confident I am (in %)',
      showlegend: false,
      yaxis: { fixedrange: true },
      xaxis: { fixedrange: true },
      images: images_layout
    };
    Plotly.newPlot('skill-graph', data, layout, config);
  }
  drawGraph()
  window.onresize = drawGraph
</script>