.portrait {
    width: 20vw;
}

.portrait:nth-child(1) {
    border: 0.5em solid black;
    box-shadow:
        0 0 0 0.2em hsla(0, 0%, 0%, 0.5),
        0 0 0 0.5em hsla(0, 0%, 0%, 0.5),
        0 0 0 0.7em hsla(0, 0%, 0%, 0.2);
}

.portrait:nth-child(2) {
    margin-top: 0.7em;
}
@media only screen and (max-width: 1500px) {
    .portrait {
        width: 30vw;
    }

}
@media only screen and (max-width: 1000px) {
    .portrait {
        width: 50vw;
    }

}
