.portrait {
    width: 20vw;
}


@media only screen and (max-width: 1500px) {
    .portrait {
        width: 30vw;
    }

}

@media only screen and (max-width: 1000px) {
    .portrait {
        width: 50vw;
    }

}


/**----------------- Strengths and weaknesses table -------------------**/



#strength-and-weaknesses-table {
    width: 100%;
    width: 100%;


}

#strength-and-weaknesses-table-img {
    background-repeat: no-repeat;
}

.strength-tile {
    background-color: white;
    border-bottom: 0.1em solid rgb(33, 37, 41);
}

.weakness-tile {
    background-color: rgb(33, 37, 41);
    color: white;

    border-bottom: 0.1em solid white;
}

#weakness-header-tile {
    color: white;
    background-color: rgb(33, 37, 41);
    width: 50%;
    border-bottom: 0.5em solid white;
    border-top: 0.5em solid rgb(33, 37, 41);
}

#strength-header-tile {
    border-left: 0.5em solid rgb(33, 37, 41);
    border-bottom: 0.5em solid rgb(33, 37, 41);
    border-top: 0.5em solid rgb(33, 37, 41);
    background-color: white;
}

#weakness-header-tile {
    border-bottom: 0.5em solid white;
    border-top: 0.5em solid rgb(33, 37, 41);
}

.tile {
    padding-left: 1em;
}

#yin-yang {
    height: 5em;
    position: relative;
    top: -5em;
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(1px 1px 11px white);
}

#strengths-and-weaknesses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: rgb(33, 37, 41);

}

.accordion-button:not(.collapsed) h2 {
    color: white;
}






/**----------------- Portrait Frame -------------------**/

.paper {
    box-shadow: 0 0 0.5em 0 rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background-size: cover;
    background-clip: content-box;
    box-sizing: border-box;
    position: relative;
    margin: auto;


}

.paper:after {
    content: "";
    display: block;
    position: absolute;
    border: 50px solid transparent;
    border-bottom: 50px solid rgb(33, 37, 41);
    bottom: -60px;
    right: -65px;
    box-shadow: 0px 10px 5px -9px black;
    transform: rotate(135deg);
}

.paper:before {
    content: "";
    display: block;
    position: absolute;
    border: 50px solid transparent;
    border-top: 50px solid rgb(33, 37, 41);
    top: -60px;
    left: -65px;
    box-shadow: 0px -10px 5px -9px black;
    transform: rotate(135deg);
}

.portrait {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portrait {
    background: #fff;
    border-radius: 2px;
}



.frame {
    background-image: url("/media/aboutme/portrait_background.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-color: rgb(33, 37, 41);
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    display: inline-block;
    margin: 10vh 10vw;
    height: 60vh;
    width: 30vw;
    padding: 8vmin;
    position: relative;
    text-align: center;
}
@media only screen and (max-width: 1500px) {
    .frame {
        width: 40vh;
    }
    
}

@media only screen and (max-width: 1000px) {
}
.frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}

.frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
}

.falling-animation {
    animation: drop 5s ease forwards, 1s pulse 5s ease forwards;
    animation-iteration-count: initial;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(10%) rotate(0.1rad);
    }

    20% {
        opacity: 100%;
        transform: translateY(2%) rotate(0.1rad);
    }

    25% {
        transform: translateY(0%) rotate(0.1rad);
    }

    50% {
        transform: rotate(0.1rad);
    }

    75% {
        transform: rotate(0.1rad);
    }

    80% {
        transform: rotate(-0.03rad);
    }

    95% {
        transform: rotate(-0.03rad);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 1em rgba(0, 0, 0, 0);
    }

    95% {
        box-shadow: 0 0 5px 0.1em rgba(0, 0, 0, 0.1);
    }

    100% {

        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    }
}
#signature{
    font-family: 'Brittany Signature';
    font-style: italic;
    position: relative;
    top: -10%;
    transform: rotate(-0.5rad);
    right: 5%;
    color: black;
    font-size: 1.3em;
}
