#home-content{
    overflow: hidden;
}
#home-page{
    overflow: hidden;
}
/* ------ Contact me Button -------*/
#google-icon-contact-me{
    opacity: 0.3;
    display: none;
    position: absolute;
    font-size: 9vh;
    
    top: 5%;
    left: 5%;
}
.contact-me-button:hover .alt-text-contact-me{
    display: inherit;
    font-size: 3vw;

}
.contact-me-button:hover #google-icon-contact-me{
    display: inherit;
}
.contact-me-button:hover .text-contact-me{
    display: none;
    width: 100%;
}
.contact-me-button{
    padding-left: 1em;
    align-items: center;
    animation: 1s fade-in forwards;
}
.contact-me-button,
.contact-me-button::after {
    overflow: hidden;
    width: max-content;
    min-width: 40vw;
    height: 10vh;
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 0.5vh;

    padding-top: 0.5vh;
    background: linear-gradient(45deg, transparent 5%, rgb(33, 37, 41) 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #3e6063;
    outline: transparent;
    position: relative;
    left: 60%;
    
    
    animation: 1s glitch  linear;
    animation-timing-function: steps(2, end);
    
}
.contact-me-button:hover,
.contact-me-button:hover::after{
    animation: 1s glitch infinite;
    animation-timing-function: steps(2, end);
}
.contact-me-button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'CONTACT ME!';
    font-size: 4vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, rgb(33, 37, 41) 5%);
    text-shadow: -3px -3px 0px blue, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}



@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

/*--------- Fade Text ---------*/

#to-my {
    color: black;
    font-family: "Shell Roundhand";
    font-size: 5vw;
    transform: translate(10%, 35%);

}

#by-valentin {
    color: black;
    font-family: "Shell Roundhand";
    font-size: 3vw;
    transform: translate(60%, -240%) rotate(-12deg);
    position: relative;
    
}

.fade-in-text {
    animation: fade-in 1s both;
    animation-delay: 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* --------- Deconstructed text effect ---------*/
.deconstructed {
    position: relative;
    margin: 0;
    height: 1em;
    color: transparent;
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
}

.deconstructed>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000000;
    pointer-events: none;
}

.deconstructed>div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s linear;
}

.deconstructed>div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s linear, deconstructed-moving 5s infinite 5s;
}

.deconstructed>div:nth-child(3) {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s linear;
}

.deconstructed>div:nth-child(4) {
    -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s linear;
}

@keyframes deconstructed-moving {


    24% {
        transform: translateX(0.2%);
    }

    82% {
        transform: translateX(-0.2%);
    }
}

@keyframes deconstructed1 {
    0% {
        transform: translateX(100%);
    }

    26% {
        transform: translateX(0%);
    }

    83% {
        transform: translateX(-0.1%);
    }

}

@keyframes deconstructed2 {
    0% {
        transform: translateX(100%);
    }

    24% {
        transform: translateX(0.5%);
    }

    82% {
        transform: translateX(-0.2%);
    }

}

@keyframes deconstructed3 {
    0% {
        transform: translateX(100%);
    }

    22% {
        transform: translateX(0%);
    }

    81% {
        transform: translateX(0%);
    }

}

@keyframes deconstructed4 {
    0% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(0%);
    }

}

/* --------- Stripped Text Effect ------------*/

.stripped-effect-text {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    transform: translate(20%);
    color: black;
}


.stripped-effect-text::before {
    content: "PORTFOLIO";
    position: absolute;
    color: transparent;

    background-image: repeating-linear-gradient(45deg,
            transparent 0,
            transparent 2px,
            black 2px,
            black 4px);
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
    font-weight: 900;
    font-size: 10vw;
    letter-spacing: 0;
    letter-spacing: +0.003em;
    animation: 2s wait linear;
}

.stripped-effect-text::after {
    content: "PORTFOLIO";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(135deg,
            transparent 0,
            transparent 2px,
            black 2px,
            black 4px);
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
    font-weight: 900;
    font-size: 10vw;
    letter-spacing: +0.003em;
    animation: 2s wait linear;
}

@keyframes wait {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.stripped-effect-text:hover:before {
    top: 3%;
    left: 1%;

}

.stripped-effect-text:hover:after {
    top: -3%;
    left: -1%;
}

/* ---------- Falling text effect ----------*/
@keyframes drop {
    0% {
        transform: translateY(-200px) scaleY(0.9);
    }

    5% {}

    50% {
        transform: translateY(0px) scaleY(1);
    }

    65% {
        transform: translateY(-17px) scaleY(.9);
    }

    75% {
        transform: translateY(-22px) scaleY(.9);
    }

    100% {
        transform: translateY(0px) scaleY(1);
    }
}

.text-drop {
    position: relative;
    display: flex;
    font-size: 10vw;
    font-weight: 900;
    transition: 0.3s;
}

#P {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
}

#O {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
    animation-delay: .2s;
}

#R {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
    animation-delay: .4s;
}

#T {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
    animation-delay: .6s;
}

#F {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
    animation-delay: .8s;
}

#O1 {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
    animation-delay: 1s;
}

#L {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
    animation-delay: 1.2s;
}

#I {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
    ;
    animation-delay: 1.4s;
}

#O2 {
    opacity: 0;
    animation: drop .4s linear forwards, fade-in 0.5 linear forwards;
    ;
    animation-delay: 1.6s;
}