.navbar-toggler {
    border-width: 0.1em;
    border-color: white;
}

#main-title {
    position: relative;
    top: -0.2em;
}

#title-container {
    font-size: clamp(1.2em, 3vw, 2.4em);
    padding-bottom: 0.5em;
    margin-bottom: 0;
    position: relative;
    padding-left: 1em;
}

header {
    position: relative;
    margin: 0;
}

#portfolio-title {
    width: 8em;
    margin-right: 2em;
    text-align: center;
    font-family: 'Shell Roundhand', serif;
    padding-top: 0.5em;
}

.navbar-nav {
    display: flex;
    gap: 0.4em;
    z-index: 100;
}


#portfolio-title:hover {
    text-decoration: underline;
    text-shadow: 0.1em 0.1em 0.1em gray;
}

/* ----- go-back-arrow ----- */
#go-back-arrow {
    margin-left: 1em;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#go-back-arrow:hover {
    position: relative;
    color: black;
    text-shadow: none;
    z-index: 2;
}

#go-back-arrow:hover {
    animation: spin 0.75s forwards;
}

#go-back-arrow:hover + #go-back-text:before {
    background-color: white;
    color: black;
    border: white solid 0.7em;
    border-radius: 2em;
    content: "Back";
    text-shadow: none;
    animation: move_left_back_text 0.75s forwards;
    position: relative;
    left: -2.4em;
    top: -0.19em;
    z-index: 1;
    padding: 0;
    width: 0;
}

#go-back-text {
    width: 0;
    margin: 0;
    padding: 0;
    position: absolute;

}

@keyframes move_left_back_text {
    0% {
        padding-left: 0;
        opacity: 0;
    }
    100% {
        padding-left: 2em;
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        scale: 1;
    }
    100% {
        transform: rotate(1turn);
        scale: 1.3
    }
}


/* ----- nav-item ----- */
.nav-item a h2 {

    color: white;
}

.nav-item {
    cursor: pointer;
    border-radius: 0.4em;
    --active-color: rgb(53, 53, 53);
    z-index: inherit;
}

.nav-item:hover {
    animation: nav-item-hover 1s infinite ease;
}

.nav-item:active a{
    background-color: rgb(53, 53, 53);
    border-radius: 0.4em;
    --active-color: rgb(153, 153, 153);
    animation: nav-item-hover 1s infinite ease;
}
.nav-item:active a h2 {
    color: black;
    text-shadow: 0 0 0.2em white;
}

@keyframes nav-item-hover {
    0% {
        background-image: linear-gradient(0deg, black, var(--active-color));
    }
    5% {
        background-image: linear-gradient(18deg, black, var(--active-color));
    }
    10% {
        background-image: linear-gradient(36deg, black, var(--active-color));
    }
    15% {
        background-image: linear-gradient(54deg, black, var(--active-color));
    }
    20% {
        background-image: linear-gradient(72deg, black, var(--active-color));
    }
    25% {
        background-image: linear-gradient(90deg, black, var(--active-color));
    }
    30% {
        background-image: linear-gradient(108deg, black, var(--active-color));
    }
    35% {
        background-image: linear-gradient(126deg, black, var(--active-color));
    }
    40% {
        background-image: linear-gradient(144deg, black, var(--active-color));
    }
    45% {
        background-image: linear-gradient(162deg, black, var(--active-color));
    }
    50% {
        background-image: linear-gradient(180deg, black, var(--active-color));
    }
    55% {
        background-image: linear-gradient(198deg, black, var(--active-color));
    }
    60% {
        background-image: linear-gradient(216deg, black, var(--active-color));
    }
    65% {
        background-image: linear-gradient(234deg, black, var(--active-color));
    }
    70% {
        background-image: linear-gradient(252deg, black, var(--active-color));
    }
    75% {
        background-image: linear-gradient(270deg, black, var(--active-color));
    }
    80% {
        background-image: linear-gradient(288deg, black, var(--active-color));
    }
    85% {
        background-image: linear-gradient(306deg, black, var(--active-color));
    }
    90% {
        background-image: linear-gradient(324deg, black, var(--active-color));
    }
    95% {
        background-image: linear-gradient(342deg, black, var(--active-color));
    }
    100% {
        background-image: linear-gradient(360deg, black, var(--active-color));
    }
}
.nav-item h2,
nav a h2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0 0 0 0;
}

@media screen and (max-width: 1500px) {
    h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1100px) {
    h2 {
        font-size: 1.3em;
    }
}